@model YiQiWorkFlow.Domain.Ms.MsGiftArchives
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>赠品档案管理</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "赠品档案管理"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:51"; var id = "@Model.Id"; pageName = "MsGiftArchivesEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData(true);

            var grid1 = mini.get("datagrid1");
            grid1.commitEdit();
            var goods = grid1.getChanges();
            o["gifts"] = mini.encode(goods);

            $.ajax({
                url: "/Ms/SaveMsGiftArchives",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        location.href = "/Ms/MsGiftArchivesEdit";
                    } else {
                        $("#Tooltip_Critical_MsGiftArchives .content").first().text(r.Message);
                        $("#Tooltip_Critical_MsGiftArchives").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_MsGiftArchives .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_MsGiftArchives").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }

        function onButtonEdit(e) {
            var btnEdit = this;
            mini.open({
                url: "/Common/GoodsSelector",
                showMaxButton: false,
                title: "选择商品",
                width: 600,
                height: 400,
                ondestroy: function (action) {
                    if (action == "ok") {
                        var iframe = this.getIFrameEl();
                        var data = iframe.contentWindow.GetData();
                        data = mini.clone(data);
                        if (data) {
                            btnEdit.setValue(data.id);
                            btnEdit.setText(data.id);

                            var txtGoodsName = mini.get('#Control_GoodsName');
                            txtGoodsName.setValue(data.text);
                        }
                    }
                }
            });
        }

        function onButtonEditWarehouse(e) {
            var btnEdit = this;
            mini.open({
                url: "/Common/WarehouseSelector",
                showMaxButton: false,
                title: "选择仓库",
                width: 600,
                height: 400,
                ondestroy: function (action) {
                    if (action == "ok") {
                        var iframe = this.getIFrameEl();
                        var data = iframe.contentWindow.GetData();
                        data = mini.clone(data);
                        if (data) {
                            for (var i = 0; i < data.length; i++) {

                                btnEdit.setValue(data[0].id);
                                btnEdit.setText(data[0].text);

                                break;
                            }
                        }
                    }
                }
            });
        }

        function onCloseClick(e) {
            var obj = e.sender;
            obj.setText("");
            obj.setValue("");
        }

        $(function () {

            var grid = mini.get("datagrid1");
            grid.reload();
            jQuery.hotkeys.add('return', function () {
                //if (mini.get("Control_CardCode").getValue().length == 0) {
                //    alert("必须先设置卡类型");
                //    return false;
                //}
                if (grid.isEditing()) {
                    grid.commitEdit();
                }
                var row = { ExchangePoints: 0 };
                grid.addRow(row, 0);
                grid.cancelEdit();
                grid.beginEditRow(row);
                //mini.getbyName("GoodsCode", "datagrid1").setUrl("/Fb/SearchFbGoodsArchivesListForList?SupCode=" + mini.get("Control_CardCode").getValue());
                mini.getbyName("GoodsCode", "datagrid1").setUrl("/Fb/SearchFbGoodsArchivesListForList");
                setTimeout(function () {
                    mini.getbyName("GoodsCode", "datagrid1").focus();
                }, 500);
            });
            jQuery.hotkeys.add('esc', function () {
                grid.reload();
            });
            jQuery.hotkeys.add('del', function () {
                grid.removeRows(grid.getSelecteds());
            });
        });

        function addRow(row) {
            var grid = mini.get("datagrid1");
            grid.addRow(row, 0);

        }
        function onrowdblclick(e) {
            var grid = mini.get("datagrid1");
            if (grid.isEditing()) {
                grid.commitEdit();
            }
            grid.beginEditRow(e.row);
            //mini.getbyName("GoodsCode", "datagri1").focus();
            setTimeout(function () {
                mini.getbyName("GoodsCode", "datagrid1").focus();
            }, 500);
        }

        function onGoodsChanged(e) {
            mini.getbyName("GoodsCode", "datagrid1").setValue(e.selected.GoodsBarCode);
            mini.getbyName("GoodsName", "datagrid1").setValue(e.selected.GoodsName);
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="toolbar1" class="mini-toolbar" style="padding: 2px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <!--<a id="btnAdd" iconcls="icon-add" class="mini-button" plain="true" tooltip="增加">增加</a>-->
                        <a id="btnFormSubmit" iconcls="icon-save" class="mini-button" plain="true" tooltip="保存(Ctrl+S)">保存</a>
                        <a id="btnPrint" iconcls="icon-print" class="mini-button" plain="true" tooltip="打印">打印</a>
                        <!--<a id="btnReturn" iconcls="icon-undo" class="mini-button" plain="true" tooltip="返回(Ctrl+Q)">返回</a>-->
                    </td>
                </tr>
            </table>
        </div>
        <!--<h1>赠品档案管理
        </h1>-->
        <div class="tooltip warning hidden" id="Tooltip_Warning_MsGiftArchives">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于赠品档案管理编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_MsGiftArchives">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于赠品档案管理编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_MsGiftArchives">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于赠品档案管理编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_MsGiftArchives">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于赠品档案管理编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <div id="datagrid1" class="mini-datagrid" url="/Ms/SearchMsGiftArchivesList"
                style="width: 100%; height: 400px; margin-top: 10px;" idfield="Id" allowresize="false" sizelist="[20,30,50,100]"
                pagesize="20" multiselect="true" showfilterrow="false" showpager="false" onrowdblclick="onrowdblclick">
                <div property="columns">
                    <div type="indexcolumn" width="30">
                    </div>
                    <div type="checkcolumn" width="30">
                    </div>
                    <div field="Id" headeralign="center" align="center" width="0"></div>
                    <div field="GoodsCode" headeralign="center" align="center" width="100">
                        商品编码
					        <div id="filter_GoodsCode" popupwidth="400" name="GoodsCode" property="editor" class="mini-combobox" allowinput="true" valuefield="GoodsBarCode" textfield="GoodsBarCode" onvaluechanged="onGoodsChanged" url="/Fb/SearchFbGoodsArchivesListForList" style="width: 100%;">
                                <div property="columns">
                                    <div header="条形码" field="GoodsBarCode">
                                    </div>
                                    <div header="拼音码" field="PyCode">
                                    </div>
                                    <div header="商品名称" field="GoodsName">
                                    </div>
                                </div>

                            </div>
                    </div>
                    <div field="GoodsName" headeralign="center" align="center" width="100">
                        商品名称
					        <input id="filter_GoodsName" name="GoodsName" class="mini-textbox" enabled="false" property="editor" style="width: 100%;" />
                    </div>
                    <div field="ExchangePoints" headeralign="center" align="center" width="100">
                        兑换积分
                            <input property="editor" type="text" id="Control_ExchangePoints" name="ExchangePoints" class="mini-spinner" minvalue="0" maxvalue="999999999" style="width: 100%;" required="true" />
                    </div>

                    <div field="BeginDate" headeralign="center" align="center" width="100">
                        有效期始
                            <input property="editor" type="text" id="Control_BeginDate" name="BeginDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                    </div>

                    <div field="EndDate" headeralign="center" align="center" width="100">
                        有效期止
                            <input property="editor" type="text" id="Control_EndDate" name="EndDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                    </div>

                    <div field="WhCode" headeralign="center" align="center" width="100">
                        仓库编码
                            <input property="editor" id="Control_WhCode" name="WhCode" class="mini-buttonedit" onbuttonclick="onButtonEditWarehouse" allowinput="false" />
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <!--<div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>-->
        </form>
    </div>
</body>
</html>
