<!DOCTYPE html>
<html>
<head>
    <title>POS机设置列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Styles/demo.css" />
    <script src="~/scripts/boot.js" type="text/javascript"></script>
    <script type="text/javascript"> var pageTitle = "POS机设置"; var pageType = "List"; var createTime = "2014/2/13 8:18:55"; var isEmployeeLogin = false; </script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                        <a class="mini-button" iconcls="icon-search" onclick="showFilterRow()" plain="true">高级检索</a>
                    </td>
                    <td style="white-space: nowrap;" align="right">
                        <table>
                            <tr>
                                <td>
                                    <input id="ifexame" class="mini-combobox" data="[{id:0,text:'否'},{id:1,text:'是'}]" nullitemtext="--是否审核--" emptytext="--是否审核--" style="width: 80px !important;" onvaluechanged="search()" />
                                </td>
                                <td>
                                    <input id="keyword" class="mini-textbox" emptytext="请输入关键词" style="width: 150px !important;" onenter="search" />
                                </td>
                                <td>
                                    <a class="mini-button" onclick="search()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" url="SearchRtPaPosList"
            style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
            pagesize="20" multiselect="true" showFilterRow="true">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
				<div field="Posid" headeralign="center" align="center" width="60">
				    Pos机号
					<input id="filter_Posid" name="Posid" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PosName" headeralign="center" align="center" width="60">
				    Pos名称
					<input id="filter_PosName" name="PosName" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PosIp" headeralign="center" align="center" width="60">
				    PosIP
					<input id="filter_PosIp" name="PosIp" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PosState" headeralign="center" align="center" width="60">
				    Pos状态
					<input id="filter_PosState" name="PosState" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="WhCode" headeralign="center" align="center" width="60">
				    销售仓库
					<input id="filter_WhCode" name="WhCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CdType" headeralign="center" align="center" width="60">
				    客显型号
					<input id="filter_CdType" name="CdType" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CdPort" headeralign="center" align="center" width="60">
				    客显端口
					<input id="filter_CdPort" name="CdPort" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="pType" headeralign="center" align="center" width="60">
				    打印机型号
					<input id="filter_pType" name="pType" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="pPort" headeralign="center" align="center" width="60">
				    打印端口
					<input id="filter_pPort" name="pPort" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="pWidth" headeralign="center" align="center" width="60">
				    打印宽度
					<input id="filter_pWidth" name="pWidth" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CbType" headeralign="center" align="center" width="60">
				    钱箱型号
					<input id="filter_CbType" name="CbType" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CbPort" headeralign="center" align="center" width="60">
				    钱箱端口
					<input id="filter_CbPort" name="CbPort" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
                <!--<div field="IfExamine" headeralign="center" align="center" width="30" renderer="onExamRender">审核</div>-->
                <div name="action" width="60" headeralign="center" align="center" renderer="onActionRenderer"
                    cellstyle="padding:0;">
                    管理
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("datagrid1");
        grid.load();
        //对"createtime"字段，进行降级排序
        grid.sortBy("Id", "desc");
        $("#key").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });
        function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            if (record.IfExamine) {
                if (record.IfExamine == "1") {
                    return "";
                }
            }
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function onNoExamActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function remove() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.Id);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    deleteItem(id);
                }
            } else {
                alert("请选中一条记录");
            }
        }
        function search() {
            var data = {};
            if (mini.get("#ifexame") != undefined) {
                data["IfExamine"] = mini.get("#ifexame").value;
            }
            if (mini.get("#keyword") != undefined) {
                data["key"] = mini.get("#keyword").value;
            }
            $("#datagrid1 .mini-grid-filterRow :text:visible").each(function () {
                if ($(this).val().length > 0) {
                    data[$(this).prop("name")] = $(this).val();
                }
            });
            grid.load(data);
        }
        function editRow(id) {
			parent.showTab({ id:"RtPaPosEdit",text: "POS机设置管理", iconCls: "icon-edit", url: "/Rt/RtPaPosEdit/" + id });
        }
        function deleteItem(id) {
            $.ajax({
                url: "RtPaPosDelete",
                data: { ids: id },
                dataType: "json",
                success: function (j) {
                    if (j == false) {
                        if (confirm("数据存在关联数据数据，删除后将影响整个系统运行，是否确认删除？") == true) {
                            $.ajax({
                                url: "RtPaPosDelete",
                                data: { ids: id, confirm: "true" },
                                dataType: "json",
                                success: function (r) {
                                    grid.reload();
                                }
                            });
                        }
                    }
                    else {
                        grid.reload();
                    }
                },
                error: function () {
                }
            });
        }
        function exame(obj, itemid, old) {
            $.ajax({
                url: "RtPaPosDeleteExame/" + itemid,
                success: function (j) {
                    if (j == true) {
                        $(obj).css("color", "green").text("是");
                    }
                    else {
                        $(obj).css("color", "red").text("否");
                    }
                    $(obj).removeProp("onclick");
                    $(obj).unbind("click").click(function () {
                        exame(obj, itemid, !old)
                    })
                },
                error: function () {
                    alert("失败")
                }
            });
        }
		function showFilterRow() {
            $("#datagrid1 .mini-grid-filterRow").toggle();
        }
    </script>
</body>
</html>



