.noradius
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.panel
{
    background: white;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, white),color-stop(100%, #DDD));
    background: -webkit-linear-gradient(top, white 0, #DDD 100%);
    background: -moz-linear-gradient(top, white 0, #DDD 100%);
    background: -ms-linear-gradient(top, white 0, #DDD 100%);
    background: -o-linear-gradient(top, white 0, #DDD 100%);
    background: linear-gradient(top, white 0, #DDD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
    border-left: solid 1px #EEE;
    border-right: solid 1px #EEE;
    border-bottom: solid 1px #CCC;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.panel h2
{
    position: relative;
    display: block;
    padding: 10px 12px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #E2E2E2;
    -webkit-box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    overflow: hidden;
}
.textrow
{
    display: block;
    width: 100%;
    min-height: 30px;
    margin: 6px auto;
    position: relative;
    overflow: hidden;
    padding:0;
}
.textrow .textbox
{
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
    -moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
    height: 20px;
    width:100%;
    margin:auto 5px auto 5px;
    display:none;
}
.textrow textarea.textbox
{
    height: 80px;
}
.textrow .placeholder
{
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 2px;
    z-index: 1;
    height: 20px;
    padding: 6px;
    font-size: 13px;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    white-space: nowrap;
    cursor: text;
    -webkit-transition: opacity .1s,font-size .1s;
    -moz-transition: opacity .1s,font-size .1s;
    -o-transition: opacity .1s,font-size .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.textrow input.error
{
    border: solid 1px red;
}
button.btn, input.btn
{
    margin: auto 6px auto 6px;
    float: right;
    width: auto;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    overflow: visible;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #CCC;
    background-repeat: no-repeat;
    border: 1px solid #CCC;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #DDD;
    background-repeat: repeat-x;
    background-image: linear-gradient( white, #DDD);
}
.btnblue
{
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    filter: Shadow(Color='black', Direction='135', Strength='1')
    background-color: #019AD2;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#33BCEF),to(#019AD2)) !important;
    background-image: -moz-linear-gradient(#33BCEF,#019AD2) !important;
    background-image: -ms-linear-gradient(#33BCEF,#019AD2) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33BCEF),color-stop(100%,#019AD2)) !important;
    background-image: -webkit-linear-gradient(#33BCEF,#019AD2) !important;
    background-image: -o-linear-gradient(#33BCEF,#019AD2) !important;
    background-image: linear-gradient(#33BCEF,#019AD2) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0) !important;
    border-color: #057ED0 !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1) !important;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1) !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1) !important;
}
div.shadow
{
    margin: 0;
    pading: 0;
    z-index: 9999;
    background-color: #000;
    width: 100%;
    height: 8000px;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    position: fixed;
    width: 200%;
    height: 200%;
    left: -50%;
    text-align: center;
    display: none;
}

div.cover
{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -100px;
    z-index: 99999;
    text-align: center;
    color: #FFF;
    display: none;
}
ul.listmenu
{
    padding:0;
    width: 100%;
    float:left;
    text-align:center;
}
ul.listmenu li
{
    float: left;
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    vertical-align: text-bottom;

}
ul.listmenu li a
{
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-right: 66px;
    font-size: 15px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    border: 1px solid #CDCDCD;
    background-color: #F8F8F8;
    color: #274E9C;
    text-decoration: none;
    text-align:left;
    content:".";
}
ul.listmenu li a div
{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 44px;
    padding-left: 27px;
    overflow: hidden;
    font-size: 14px;
}
form.search
{
    position:absolute;
    padding:5px;
}
form.search div
{
    border: 1px solid rgb(151, 151, 151);
    float:left;
    height:38px;
    overflow:hidden;
    padding:0;
    margin:0 !important;
    width:auto !important;
}
form.search div.left
{
    border-right-width:0;
}
form.search input[type='text']
{
    width: 92%;
    height: 38px !important;
    line-height:38px;
    vertical-align:middle;
    font-size: 18px;
    color: black;
    padding: 0px 30px 0px 10px;
    border: medium none;
    background: none repeat scroll 0% 0% transparent;
    outline: medium none;
    margin:0 !important;
}
form.search button
{
    height:38px;
    border: medium none;
    margin:0;
    width:80px;
}

form.search .left .placeholder
{
    font-size: 18px;
    top:4px;
}