<%-- 
Name: 数据库实体类
Author: B哥
Description: 数据库实体类
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" ResponseEncoding="UTF-8" Debug="False" Description="生成数据库实体" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="属性" Description="要生成实体的数据表" %>
<%@ Property Name="opuser" Type="System.String" Default="" Optional="False" Category="属性" Description="请输入您的名字" %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.IO" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= SourceTable.Description.Trim('\r').Trim('\n') %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/Styles/demo.css" />
    <script src="/scripts/boot.js" type="text/javascript"></script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
           
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
            </td>
            <td style="white-space: nowrap;">
                <input id="ifexame" class="mini-combobox" textField="text" valueField="id" value="" url="/Category/ExameItems" nullItemText="--是否审核--" emptyText="--是否审核--" onvaluechanged="search()" />  
                <input id="SupName" class="mini-textbox" emptytext="请输入名称" style="width: 150px;"
                    onenter="onKeyEnter" />
                <a class="mini-button" onclick="search()">查询</a>
            </td>
        </tr>
    </table>

        </div>
    </div>
    <div class="mini-fit">

<div id="datagrid1" class="mini-datagrid" url="/Archives/SearchEmployeeArchiveList"
    style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
    pagesize="20" multiselect="true">
    <div property="columns">
        <div type="indexcolumn" width="30">
        </div>
        <div type="checkcolumn" width="30">
        </div>
		<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
        <div field="<%= StringUtil.ToPascalCase(column.Name) %>" headeralign="center" align="center" width="60"><%= StringUtil.ToPascalCase(column.Description).Trim('\r').Trim('\n') %></div>
		<%}%>
        <div name="action" width="120" headeralign="center" align="center" renderer="onActionRenderer" cellstyle="padding:0;">管理</div>
    </div>
</div>

</div>
    <script type="text/javascript">
        mini.parse();


        var grid = mini.get("datagrid1");


        grid.load();
        //对"createtime"字段，进行降级排序
        grid.sortBy("Id", "desc");


        $("#key").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        

        function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            if (record.IfExamine) {
                if (record.IfExamine == "1") {
                    return "";
                }
            }

            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function onNoExamActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;

            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function remove() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.Id);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    deleteItem(id);
                }
            } else {
                alert("请选中一条记录");
            }
        }

    </script>
    
    <script type="text/javascript">
        mini.parse();
        function showSearchWindow() {
            var win = mini.get("searchWindow");
            win.show();
        }
        function advSearch() {
            var frm = new mini.Form("frmAdv");
            grid.load(frm.getData(true));
            var win = mini.get("searchWindow");
            win.hide();
        }
        function search() {
            grid.load({
                "key": mini.get("#SupName").value,
                "IfExamine": mini.get("#ifexame").value
            });
        }
        function editRow(id) {
            mini.open({
                url: "/Archives/SupplierEdit/" + id,
                title: "供应商管理",
                iconCls: "icon-user",
                allowResize: false,
                width: 680,
                height: 510,
                onload: function () {
                    //var iframe = this.getIFrameEl();
                    //var data = { action: "new" };
                    //iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {

                    grid.reload();
                }
            });
        }
//        function deleteItem(id) {
//            $.ajax({
//                url: "/Archives/SupplierDelete",
//                data: { ids: id },
//                success: function (text) {
//                    grid.reload();
//                },
//                error: function () {
//                }
//            });
//        }
        function deleteItem(id) {
            $.ajax({
                url: "/Archives/SupplierDelete",
                data: { ids: id },
                dataType: "json",
                success: function (j) {
                    if (j == false) {
                        if (confirm("将要删除的供货商存在采购数据，删除后将影响整个系统运行，是否确认删除？") == true) {
                            $.ajax({
                                url: "/Archives/SupplierDelete",
                                data: { ids: id, confirm: "true" },
                                dataType: "json",
                                success: function (r) {
                                    grid.reload();
                                }
                            });
                        }
                    }

                },
                error: function () {
                }
            });
        }
        function exame(obj, itemid, old) {
            $.ajax({
                url: "/Archives/SupplierExame/" + itemid,
                success: function (j) {
                    if (j == true) {
                        $(obj).css("color", "green").text("是");
                    }
                    else {
                        $(obj).css("color", "red").text("否");
                    }
                    $(obj).removeProp("onclick");
                    $(obj).unbind("click").click(function () {
                        exame(obj, itemid, !old)
                    })
                },
                error: function () {
                    alert("失败")
                }
            });
        }
        
        function onNormalActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;

            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

    </script>

</body>
</html>



<script runat="template">
private string _savefile;
[Editor(typeof(FileNameEditor),typeof(System.Drawing.Design.UITypeEditor)),FileDialogAttribute(FileDialogType.Save,Title="save as",Filter="C# File|(*.cs)")]
public string SaveFile
{
   get
   {
    return _savefile;
   }
   set
   {
    _savefile = value;
   }
}
public override void Render(TextWriter tw)
{
   StreamWriter fs1 = new StreamWriter(_savefile,true);
   this.Response.AddTextWriter(fs1);
   base.Render(tw);
   fs1.Close();
}
</script>