<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="TDB" Type="SchemaExplorer.TableSchemaCollection" Default="" Optional="False" Category=""%><%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%
foreach (TableSchema ts in TDB)
{
	if(TableHasIndentityOrPk(ts)==false)
	{
		//Response.WriteLine(ts.Name+"????????");
		string str=string.Format("IF NOT EXISTS (select * from sysobjects where parent_obj=object_id(N'{0}')  and xtype='PK') begin truncate table {0}; alter table {0} add Id nvarchar(20) not null ;alter table {0} add constraint pk_{0} primary key(Id) end",ts.Name);
		Response.WriteLine(str);
	}
}
%>


<script runat="template">
public bool TableHasIndentityOrPk(SchemaExplorer.TableSchema table)
{
	return TableHasIdentityColumn(table)||TableExistPk(table);
}
public bool TableHasIdentityColumn(SchemaExplorer.TableSchema table)
{
	foreach(ColumnSchema column in table.Columns)
	{
		if((bool)column.ExtendedProperties["CS_IsIdentity"].Value==true)
		{
			return true;
		}
	}
	return false;
}
public ColumnSchema GetTableIdentityColumn(SchemaExplorer.TableSchema table)
{
	foreach(ColumnSchema column in table.Columns)
	{
		try
		{
			if((bool)column.ExtendedProperties["CS_IsIdentity"].Value==true)
			{
				return column;
			}
		}
		catch{}
	}
	throw new Exception("no IdentityColumn");
}
public bool TableExistPk(SchemaExplorer.TableSchema table)
{
	return table.HasPrimaryKey;
}
public ColumnSchema GetTablePkColumn(SchemaExplorer.TableSchema table)
{
	foreach(ColumnSchema column in table.Columns)
	{
		if(column.IsPrimaryKeyMember)
		{
			return column;
		}
	}
	return null;
}
public ColumnSchema GetPkOrIdentityColumn(SchemaExplorer.TableSchema table)
{
	if(TableExistPk(table))
	{
		return GetTablePkColumn(table);
	}
	if(TableHasIdentityColumn(table))
	{
		return GetTableIdentityColumn(table);
	}
	throw new Exception("No Pk");
}

</script>