<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" ResponseEncoding="UTF-8" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="System.Collections" %>
<%@ Register Name="Model" Template="实体类.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Property Name="TDB" Type="SchemaExplorer.TableSchemaCollection" Default="" Optional="False" Category=""%>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="System.IO" %>

<%
string pre="";
foreach(TableSchema ts in TDB)
{
	string newPre=StringUtil.ToPascalCase(ts.Name.Split('_')[0]);
	if(pre==newPre)
	{
%>
    <property name="<%= StringUtil.ToPascalCase(ts.Name) %>Service" ref="<%= StringUtil.ToPascalCase(ts.Name) %>Service" />
<%
	}
	else
	{
		pre=newPre;
%>
  </object>
  <object type="TEWorkFlow.Web.Client.Controllers.<%=newPre%>Controller, TEWorkFlow.Web.Client" singleton="false" >
    <property name="<%= StringUtil.ToPascalCase(ts.Name) %>Service" ref="<%= StringUtil.ToPascalCase(ts.Name) %>Service" />
<%
	}
%>
<%

}
%>

<script runat="template">
   private string _filename;
  [Editor(typeof(FileNameEditor),typeof(System.Drawing.Design.UITypeEditor)),FileDialogAttribute(FileDialogType.Save,Title="save as",Filter="C# File|(*.cs)")]
   public string TargetFileName
   {
    get
    {
     return _filename;
    }
    set
    {
     _filename = value;
    }
   }
</script>