<!DOCTYPE html>
<html>
<head>
    <title>卡充值列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Styles/demo.css" />
    <script src="~/scripts/boot.js" type="text/javascript"></script>
    <script type="text/javascript"> var pageTitle = "卡充值"; var pageType = "List"; var createTime = "2014/2/15 20:04:59"; var isEmployeeLogin = false; </script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                        <a class="mini-button" iconcls="icon-search" onclick="showFilterRow()" plain="true">高级检索</a>
                    </td>
                    <td style="white-space: nowrap;" align="right">
                        <table>
                            <tr>
                                <td>
                                    <input id="ifexame" class="mini-combobox" data="[{id:0,text:'否'},{id:1,text:'是'}]" nullitemtext="--是否审核--" emptytext="--是否审核--" style="width: 80px !important;" onvaluechanged="search()" />
                                </td>
                                <td>
                                    <input id="keyword" class="mini-textbox" emptytext="请输入关键词" style="width: 150px !important;" onenter="search" />
                                </td>
                                <td>
                                    <a class="mini-button" onclick="search()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" url="SearchMsPrepaidCardManageList"
             style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
             pagesize="20" multiselect="true" showfilterrow="true">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
                <div name="action" width="80" headeralign="center" align="center" renderer="onActionRenderer"
                     cellstyle="padding:0;">
                    管理
                </div>
                <div field="PrepaidNumber" headeralign="center" align="center" width="120">
                    充值单号
                    <input id="filter_PrepaidNumber" name="PrepaidNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="EnCode" headeralign="center" align="center" width="80">
                    企业编码
                    <input id="filter_EnCode" name="EnCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="PrepaidDate" headeralign="center" align="center" width="80" dateformat="yyyy-MM-dd">
                    充值日期
                    <input id="filter_PrepaidDate" name="PrepaidDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="CardNumber" headeralign="center" align="center" width="80">
                    卡号
                    <input id="filter_CardNumber" name="CardNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="SurfaceNumber" headeralign="center" align="center" width="80">
                    卡面明码
                    <input id="filter_SurfaceNumber" name="SurfaceNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="MsCode" headeralign="center" align="center" width="80">
                    会员编码
                    <input id="filter_MsCode" name="MsCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="PrepaidMoney" headeralign="center" align="center" width="80">
                    充值金额
                    <input id="filter_PrepaidMoney" name="PrepaidMoney" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="TotalPrepaid" headeralign="center" align="center" width="80">
                    累计储值金额
                    <input id="filter_TotalPrepaid" name="TotalPrepaid" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="CurrentPrepaid" headeralign="center" align="center" width="80">
                    当前储值金额
                    <input id="filter_CurrentPrepaid" name="CurrentPrepaid" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="UsePrepaid" headeralign="center" align="center" width="80">
                    使用金额
                    <input id="filter_UsePrepaid" name="UsePrepaid" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="CardCode" headeralign="center" align="center" width="80">
                    卡类型编码
                    <input id="filter_CardCode" name="CardCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="CardName" headeralign="center" align="center" width="80">
                    卡类型名称
                    <input id="filter_CardName" name="CardName" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="CardState" headeralign="center" align="center" width="80" onCardStateRender>
                    @*0待发1正常2挂失3废除*@
                    卡状态
                    <input id="filter_CardState" name="CardState" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="CreateDate" headeralign="center" align="center" width="80" dateformat="yyyy-MM-dd">
                    创建时间
                    <input id="filter_CreateDate" name="CreateDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="Operator" headeralign="center" align="center" width="80">
                    操作员
                    <input id="filter_Operator" name="Operator" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <div field="OperatorDate" headeralign="center" align="center" width="80" dateformat="yyyy-MM-dd" dateformat="yyyy-MM-dd">
                    操作时间
                    <input id="filter_OperatorDate" name="OperatorDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
                </div>
                <!--<div field="IfExamine" headeralign="center" align="center" width="30" renderer="onExamRender">审核</div>-->

            </div>
        </div>
    </div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("datagrid1");
        grid.load();
        //对"createtime"字段，进行降级排序
        grid.sortBy("Id", "desc");
        $("#key").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });
        function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            if (record.IfExamine) {
                if (record.IfExamine == "1") {
                    return "";
                }
            }
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function onNoExamActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function remove() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.Id);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    deleteItem(id);
                }
            } else {
                alert("请选中一条记录");
            }
        }
        function search() {
            var data = {};
            if (mini.get("#ifexame") != undefined) {
                data["IfExamine"] = mini.get("#ifexame").value;
            }
            if (mini.get("#keyword") != undefined) {
                data["key"] = mini.get("#keyword").value;
            }
            $("#datagrid1 .mini-grid-filterRow :text:visible").each(function () {
                if ($(this).val().length > 0) {
                    data[$(this).prop("name")] = $(this).val();
                }
            });
            grid.load(data);
        }
        function editRow(id) {
            //parent.showTab({ id: "MsPrepaidCardManageEdit", text: "卡充值管理", iconCls: "icon-edit", url: "/Ms/MsPrepaidCardManageEdit/" + id });
            location.href = "/Ms/MsPrepaidCardManageEdit/" + id;
        }
        function deleteItem(id) {
            $.ajax({
                url: "/Ms/MsPrepaidCardManageDelete",
                data: { ids: id },
                dataType: "json",
                success: function (j) {
                    if (j == false) {
                        if (confirm("数据存在关联数据数据，删除后将影响整个系统运行，是否确认删除？") == true) {
                            $.ajax({
                                url: "/Ms/MsPrepaidCardManageDelete",
                                data: { ids: id, confirm: "true" },
                                dataType: "json",
                                success: function (r) {
                                    grid.reload();
                                }
                            });
                        }
                    }
                    else {
                        grid.reload();
                    }
                },
                error: function () {
                }
            });
        }
        function exame(obj, itemid, old) {
            $.ajax({
                url: "/Ms/MsPrepaidCardManageDeleteExame/" + itemid,
                success: function (j) {
                    if (j == true) {
                        $(obj).css("color", "green").text("是");
                    }
                    else {
                        $(obj).css("color", "red").text("否");
                    }
                    $(obj).removeProp("onclick");
                    $(obj).unbind("click").click(function () {
                        exame(obj, itemid, !old)
                    })
                },
                error: function () {
                    alert("失败")
                }
            });
        }
        function showFilterRow() {
            $("#datagrid1 .mini-grid-filterRow").toggle();
        }
    </script>
</body>
</html>