<!DOCTYPE html>
<html>
<head>
    <title>卡档案信息列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Styles/demo.css" />
    <script src="~/scripts/boot.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Data/c_FbSupplierArchives.js"></script>
    <script type="text/javascript"> var pageTitle = "卡档案信息"; var pageType = "List"; var createTime = "2014/2/15 20:04:58"; var isEmployeeLogin = false; </script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td></td>
                    <td style="white-space: nowrap;" align="right">
                        <table>
                            <tr>
                                <td>
                                    <input id="ifexame" class="mini-combobox" data="[{id:0,text:'否'},{id:1,text:'是'}]" nullitemtext="--是否审核--" emptytext="--是否审核--" style="width: 80px !important;" onvaluechanged="search()" />
                                </td>
                                <td>
                                    <input id="keyword" class="mini-textbox" emptytext="请输入关键词" style="width: 150px !important;" onenter="search" />
                                </td>
                                <td>
                                    <a class="mini-button" onclick="search()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" url="/Ms/GetMsCardArchivesList"
            style="width: 100%; height: 85%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
            pagesize="20" multiselect="false" showfilterrow="true">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                
                <div field="surfaceNumber" headeralign="center" align="center" width="100">
                    卡面明码
					<input id="filter_SurfaceNumber" name="SurfaceNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width: 100%;" />
                </div>
                
                <div field="cardCode" headeralign="center" align="center" width="80">
                    卡类型编码
					<input id="filter_CardCode" name="CardCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width: 100%;" />
                </div>
                <div field="cardName" headeralign="center" align="center" width="80">
                    卡类型名称
					<input id="filter_CardName" name="CardName" property="filter" class="mini-textbox" onvaluechanged="search" style="width: 100%;" />
                </div>
                <div field="msCode" headeralign="center" align="center" width="150">
                    会员编码
					<input id="filter_MsCode" name="MsCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width: 100%;" />
                </div>
                <div field="msName" headeralign="center" align="center" width="70">
                    会员姓名
					<input id="filter_MsName" name="MsName" property="filter" class="mini-textbox" onvaluechanged="search" style="width: 100%;" />
                </div>
                <div field="cardState" headeralign="center" align="center" width="70">
                    卡状态
					<input id="filter_CardState" name="CardState" property="filter" class="mini-textbox" onvaluechanged="search" style="width: 100%;" />
                </div>

            </div>
        </div>
        <div class="mini-toolbar" style="text-align: center; padding-top: 8px; padding-bottom: 8px;" borderstyle="border:0;"></div>
        <a class="mini-button" style="width: 60px;" onclick="onOk()">确定</a>
        <span style="display: inline-block; width: 25px;"></span>
        <a class="mini-button" style="width: 60px;" onclick="onCancel()">取消</a>
    </div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("datagrid1");
        grid.load();
        //对"createtime"字段，进行降级排序
        grid.sortBy("Id", "desc");
        $("#key").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        function search() {
            var data = {};
            if (mini.get("#ifexame") != undefined) {
                data["IfExamine"] = mini.get("#ifexame").value;
            }
            if (mini.get("#keyword") != undefined) {
                data["key"] = mini.get("#keyword").value;
            }
            $("#datagrid1 .mini-grid-filterRow :text:visible").each(function () {
                if ($(this).val().length > 0) {
                    data[$(this).prop("name")] = $(this).val();
                }
            });
            grid.load(data);
        }

        function showFilterRow() {
            $("#datagrid1 .mini-grid-filterRow").toggle();
        }
        function onOk() {
            CloseWindow("ok");
        }
        function onCancel() {
            CloseWindow("cancel");
        }
        function CloseWindow(action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
        function GetData() {
            var row = grid.getSelecteds();
            return row;
        }

        $(function () {
            $("#datagrid1 .mini-grid-filterRow").show();
        });

    </script>
</body>
</html>
