<%-- 
Name: 数据库实体类
Author: B哥
Description: 数据库实体类
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" ResponseEncoding="UTF-8" Debug="False" Description="生成数据库实体" %>
<%@ Property Name="TDB" Type="SchemaExplorer.TableSchemaCollection" Default="" Optional="False" Category=""%><%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.IO" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<!--Repository-->
<%
foreach(TableSchema ts in TDB)
{
%>
  <object id="<%= StringUtil.ToPascalCase(ts.Name) %>Repository" type="NSH.Repository.RepositoryGUID&lt;YiQiWorkFlow.Domain.<%= StringUtil.ToPascalCase(ts.Name.Split('_')[0]) %>.<%= StringUtil.ToPascalCase(ts.Name) %>>, NSH.Repository">
    <property name="HibernateTemplate" ref="HibernateTemplate"/>
  </object>
<%}%>

<!--Services-->
<%
foreach(TableSchema ts in TDB)
{
%>
  <object id="<%= StringUtil.ToPascalCase(ts.Name) %>Service" type="YiQiWorkFlow.Application.Service.<%= StringUtil.ToPascalCase(ts.Name.Split('_')[0]) %>.<%= StringUtil.ToPascalCase(ts.Name) %>Service, TEWorkFlow.Application.Service">
    <property name="EntityRepository" ref="<%= StringUtil.ToPascalCase(ts.Name) %>Repository"/>
  </object>
<%}%>


<script runat="template">
private string _savefile;
[Editor(typeof(FileNameEditor),typeof(System.Drawing.Design.UITypeEditor)),FileDialogAttribute(FileDialogType.Save,Title="save as",Filter="C# File|(*.cs)")]
public string SaveFile
{
   get
   {
    return _savefile;
   }
   set
   {
    _savefile = value;
   }
}
public override void Render(TextWriter tw)
{
   StreamWriter fs1 = new StreamWriter(_savefile,true);
   this.Response.AddTextWriter(fs1);
   base.Render(tw);
   fs1.Close();
}
</script>