<!DOCTYPE html>
<html>
<head>
    <title>日帐设置列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Styles/demo.css" />
    <script src="~/scripts/boot.js" type="text/javascript"></script>
    <script type="text/javascript"> var pageTitle = "日帐设置"; var pageType = "List"; var createTime = "2014/2/13 8:18:48"; var isEmployeeLogin = false; </script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                        <a class="mini-button" iconcls="icon-search" onclick="showFilterRow()" plain="true">高级检索</a>
                    </td>
                    <td style="white-space: nowrap;" align="right">
                        <table>
                            <tr>
                                <td>
                                    <input id="ifexame" class="mini-combobox" data="[{id:0,text:'否'},{id:1,text:'是'}]" nullitemtext="--是否审核--" emptytext="--是否审核--" style="width: 80px !important;" onvaluechanged="search()" />
                                </td>
                                <td>
                                    <input id="keyword" class="mini-textbox" emptytext="请输入关键词" style="width: 150px !important;" onenter="search" />
                                </td>
                                <td>
                                    <a class="mini-button" onclick="search()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" url="SearchAcPaDayaccountList"
            style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
            pagesize="20" multiselect="true" showFilterRow="true">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
				<div field="LastTyDate" headeralign="center" align="center" width="60">
				    上次记账时间
					<input id="filter_LastTyDate" name="LastTyDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastRtFlowNumber" headeralign="center" align="center" width="60">
				    上次销售流水
					<input id="filter_LastRtFlowNumber" name="LastRtFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentRtFlowNumber" headeralign="center" align="center" width="60">
				    当前销售流水
					<input id="filter_CurrentRtFlowNumber" name="CurrentRtFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastWsFlowNumber" headeralign="center" align="center" width="60">
				    上次批发流水
					<input id="filter_LastWsFlowNumber" name="LastWsFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentWsFlowNumber" headeralign="center" align="center" width="60">
				    当前批发流水
					<input id="filter_CurrentWsFlowNumber" name="CurrentWsFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastPiFlowNumber" headeralign="center" align="center" width="60">
				    上次进货流水
					<input id="filter_LastPiFlowNumber" name="LastPiFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentPiFlowNumber" headeralign="center" align="center" width="60">
				    当前进货流水
					<input id="filter_CurrentPiFlowNumber" name="CurrentPiFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastPoFlowNumber" headeralign="center" align="center" width="60">
				    上次返货流水
					<input id="filter_LastPoFlowNumber" name="LastPoFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentPoFlowNumber" headeralign="center" align="center" width="60">
				    当前返货流水
					<input id="filter_CurrentPoFlowNumber" name="CurrentPoFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastAlFlowNumber" headeralign="center" align="center" width="60">
				    上次调拨流水
					<input id="filter_LastAlFlowNumber" name="LastAlFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentAlFlowNumber" headeralign="center" align="center" width="60">
				    当前调拨流水
					<input id="filter_CurrentAlFlowNumber" name="CurrentAlFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastLoFlowNumber" headeralign="center" align="center" width="60">
				    上次损溢流水
					<input id="filter_LastLoFlowNumber" name="LastLoFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentLoFlowNumber" headeralign="center" align="center" width="60">
				    当前损溢流水
					<input id="filter_CurrentLoFlowNumber" name="CurrentLoFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastAdFlowNumber" headeralign="center" align="center" width="60">
				    上次调整流水
					<input id="filter_LastAdFlowNumber" name="LastAdFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentAdFlowNumber" headeralign="center" align="center" width="60">
				    当前调整流水
					<input id="filter_CurrentAdFlowNumber" name="CurrentAdFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastExFlowNumber" headeralign="center" align="center" width="60">
				    上次兑换流水
					<input id="filter_LastExFlowNumber" name="LastExFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentExFlowNumber" headeralign="center" align="center" width="60">
				    当前兑换流水
					<input id="filter_CurrentExFlowNumber" name="CurrentExFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastScFlowNumber" headeralign="center" align="center" width="60">
				    上次拆零流水
					<input id="filter_LastScFlowNumber" name="LastScFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentScFlowNumber" headeralign="center" align="center" width="60">
				    当前拆零流水
					<input id="filter_CurrentScFlowNumber" name="CurrentScFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastSpFlowNumber" headeralign="center" align="center" width="60">
				    上次配送流水
					<input id="filter_LastSpFlowNumber" name="LastSpFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentSpFlowNumber" headeralign="center" align="center" width="60">
				    当前配送流水
					<input id="filter_CurrentSpFlowNumber" name="CurrentSpFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="LastReFlowNumber" headeralign="center" align="center" width="60">
				    上次配返流水
					<input id="filter_LastReFlowNumber" name="LastReFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CurrentReFlowNumber" headeralign="center" align="center" width="60">
				    当前配返流水
					<input id="filter_CurrentReFlowNumber" name="CurrentReFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Id" headeralign="center" align="center" width="60">
				    
					<input id="filter_Id" name="Id" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
                <!--<div field="IfExamine" headeralign="center" align="center" width="30" renderer="onExamRender">审核</div>-->
                <div name="action" width="60" headeralign="center" align="center" renderer="onActionRenderer"
                    cellstyle="padding:0;">
                    管理
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("datagrid1");
        grid.load();
        //对"createtime"字段，进行降级排序
        grid.sortBy("Id", "desc");
        $("#key").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });
        function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            if (record.IfExamine) {
                if (record.IfExamine == "1") {
                    return "";
                }
            }
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function onNoExamActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function remove() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.Id);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    deleteItem(id);
                }
            } else {
                alert("请选中一条记录");
            }
        }
        function search() {
            var data = {};
            if (mini.get("#ifexame") != undefined) {
                data["IfExamine"] = mini.get("#ifexame").value;
            }
            if (mini.get("#keyword") != undefined) {
                data["key"] = mini.get("#keyword").value;
            }
            $("#datagrid1 .mini-grid-filterRow :text:visible").each(function () {
                if ($(this).val().length > 0) {
                    data[$(this).prop("name")] = $(this).val();
                }
            });
            grid.load(data);
        }
        function editRow(id) {
			parent.showTab({ id:"AcPaDayaccountEdit",text: "日帐设置管理", iconCls: "icon-edit", url: "/Ac/AcPaDayaccountEdit/" + id });
        }
        function deleteItem(id) {
            $.ajax({
                url: "AcPaDayaccountDelete",
                data: { ids: id },
                dataType: "json",
                success: function (j) {
                    if (j == false) {
                        if (confirm("数据存在关联数据数据，删除后将影响整个系统运行，是否确认删除？") == true) {
                            $.ajax({
                                url: "AcPaDayaccountDelete",
                                data: { ids: id, confirm: "true" },
                                dataType: "json",
                                success: function (r) {
                                    grid.reload();
                                }
                            });
                        }
                    }
                    else {
                        grid.reload();
                    }
                },
                error: function () {
                }
            });
        }
        function exame(obj, itemid, old) {
            $.ajax({
                url: "AcPaDayaccountDeleteExame/" + itemid,
                success: function (j) {
                    if (j == true) {
                        $(obj).css("color", "green").text("是");
                    }
                    else {
                        $(obj).css("color", "red").text("否");
                    }
                    $(obj).removeProp("onclick");
                    $(obj).unbind("click").click(function () {
                        exame(obj, itemid, !old)
                    })
                },
                error: function () {
                    alert("失败")
                }
            });
        }
		function showFilterRow() {
            $("#datagrid1 .mini-grid-filterRow").toggle();
        }
    </script>
</body>
</html>



