
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>营业员销售汇总列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Styles/demo.css" />
    <script src="~/scripts/boot.js" type="text/javascript"></script>
    <script type="text/javascript"> var pageTitle = "营业员销售汇总"; var pageType = "List"; var createTime = "2014/2/13 0:03:07"; var isEmployeeLogin = false; </script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                        <a class="mini-button" iconcls="icon-search" onclick="showFilterRow()" plain="true">高级检索</a>
                    </td>
                    <td style="white-space: nowrap;" align="right">
                        <table>
                            <tr>
                                <td>
                                    <input id="ifexame" class="mini-combobox" data="[{id:0,text:'否'},{id:1,text:'是'}]" nullitemtext="--是否审核--" emptytext="--是否审核--" style="width: 80px !important;" onvaluechanged="search()" />
                                </td>
                                <td>
                                    <input id="keyword" class="mini-textbox" emptytext="请输入关键词" style="width: 150px !important;" onenter="search" />
                                </td>
                                <td>
                                    <a class="mini-button" onclick="search()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" url="SearchAcSalesmanSummaryList"
            style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
            pagesize="20" multiselect="true" showFilterRow="true">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
				<div field="RtFlowNumber" headeralign="center" align="center" width="60">
				    流水号
					<input id="filter_RtFlowNumber" name="RtFlowNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="RtDate" headeralign="center" align="center" width="60">
				    销售时间
					<input id="filter_RtDate" name="RtDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Salesman" headeralign="center" align="center" width="60">
				    营业员
					<input id="filter_Salesman" name="Salesman" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="RtType" headeralign="center" align="center" width="60">
				    销售方式
					<input id="filter_RtType" name="RtType" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="WhCode" headeralign="center" align="center" width="60">
				    仓库编码
					<input id="filter_WhCode" name="WhCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="bCode" headeralign="center" align="center" width="60">
				    分店编码
					<input id="filter_bCode" name="bCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="GoodsCode" headeralign="center" align="center" width="60">
				    商品编码
					<input id="filter_GoodsCode" name="GoodsCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="GoodsBarCode" headeralign="center" align="center" width="60">
				    商品销售码
					<input id="filter_GoodsBarCode" name="GoodsBarCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="SaleQty" headeralign="center" align="center" width="60">
				    数量
					<input id="filter_SaleQty" name="SaleQty" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="SaleMoney" headeralign="center" align="center" width="60">
				    销售金额
					<input id="filter_SaleMoney" name="SaleMoney" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PushRate" headeralign="center" align="center" width="60">
				    营业员提成
					<input id="filter_PushRate" name="PushRate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PushMoney" headeralign="center" align="center" width="60">
				    提成金额
					<input id="filter_PushMoney" name="PushMoney" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Id" headeralign="center" align="center" width="60">
				    
					<input id="filter_Id" name="Id" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
                <!--<div field="IfExamine" headeralign="center" align="center" width="30" renderer="onExamRender">审核</div>-->
                <div name="action" width="60" headeralign="center" align="center" renderer="onActionRenderer"
                    cellstyle="padding:0;">
                    管理
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("datagrid1");
        grid.load();
        //对"createtime"字段，进行降级排序
        grid.sortBy("Id", "desc");
        $("#key").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });
        function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            if (record.IfExamine) {
                if (record.IfExamine == "1") {
                    return "";
                }
            }
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function onNoExamActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record.Id;
            var rowIndex = e.rowIndex;
            var s = ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')" >编辑</a>'
                + ' <a class="Delete_Button" href="javascript:if(confirm(\'确定要删除这条记录吗？\')){deleteItem(\'' + uid + '\')}">删除</a>';
            return s;
        }

        function remove() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.Id);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    deleteItem(id);
                }
            } else {
                alert("请选中一条记录");
            }
        }
        function search() {
            var data = {};
            if (mini.get("#ifexame") != undefined) {
                data["IfExamine"] = mini.get("#ifexame").value;
            }
            if (mini.get("#keyword") != undefined) {
                data["key"] = mini.get("#keyword").value;
            }
            $("#datagrid1 .mini-grid-filterRow :text:visible").each(function () {
                if ($(this).val().length > 0) {
                    data[$(this).prop("name")] = $(this).val();
                }
            });
            grid.load(data);
        }
        function editRow(id) {
			parent.showTab({ id:"AcSalesmanSummaryEdit",text: "营业员销售汇总管理", iconCls: "icon-edit", url: "/Ac/AcSalesmanSummaryEdit/" + id });
        }
        function deleteItem(id) {
            $.ajax({
                url: "AcSalesmanSummaryDelete",
                data: { ids: id },
                dataType: "json",
                success: function (j) {
                    if (j == false) {
                        if (confirm("数据存在关联数据数据，删除后将影响整个系统运行，是否确认删除？") == true) {
                            $.ajax({
                                url: "AcSalesmanSummaryDelete",
                                data: { ids: id, confirm: "true" },
                                dataType: "json",
                                success: function (r) {
                                    grid.reload();
                                }
                            });
                        }
                    }
                    else {
                        grid.reload();
                    }
                },
                error: function () {
                }
            });
        }
        function exame(obj, itemid, old) {
            $.ajax({
                url: "AcSalesmanSummaryDeleteExame/" + itemid,
                success: function (j) {
                    if (j == true) {
                        $(obj).css("color", "green").text("是");
                    }
                    else {
                        $(obj).css("color", "red").text("否");
                    }
                    $(obj).removeProp("onclick");
                    $(obj).unbind("click").click(function () {
                        exame(obj, itemid, !old)
                    })
                },
                error: function () {
                    alert("失败")
                }
            });
        }
		function showFilterRow() {
            $("#datagrid1 .mini-grid-filterRow").toggle();
        }
    </script>
</body>
</html>



