<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商品编码修改</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();


            $.ajax({
                url: "/Fb/SaveAdjustGoodsCode",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        alert(r.Message);
                    } else {
                        alert(r.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_FbAdjustClass .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_FbAdjustClass").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="toolbar1" class="mini-toolbar" style="padding: 2px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a id="btnFormSubmit" iconcls="icon-save" class="mini-button" plain="true" tooltip="保存(Ctrl+S)">保存</a>
                        <a id="btnReturn" iconcls="icon-undo" class="mini-button" plain="true" tooltip="返回(Ctrl+Q)">返回</a>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_FbAdjustClass">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于调商品所属类别编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>基本信息</legend>
                <div class="ablock" style="display:block; float:none">
                    <label for="Control_AdjustNumber">编码类型:</label>
                    <div name="codeType" required="true" class="mini-radiobuttonlist" repeatitems="2" repeatlayout="table" value="1" data="[{id:'0',text:'商品编码'},{id:'1',text:'商品销售码'}]">
                    </div>
                </div>
                <div class="ablock" style="display:block; float:none">
                    <label for="Control_AdjustDate">商品:</label>
                    <input id="filter_GoodsCode" required="true" name="GoodsCode" property="editor" class="mini-combobox" allowinput="true" valuefield="Id" textfield="GoodsName" onvaluechanged="onGoodsChanged" url="/Fb/SearchFbGoodsArchivesListForList" style="width: 100%;" />
                </div>
                <div class="ablock colspan2" style="display:block; float:none">
                    <label for="Control_AdjustReason">新编码:</label>
                    <input type="text" required="true" class="mini-textbox" name="newCode" id="Control_AdjustReason" vtype="maxLength:40" />
                </div>

                <div class="clear">
                </div>
            </fieldset>

            <div class="clear">
            </div>
            @*<div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>*@
        </form>
    </div>
</body>
</html>

