<!DOCTYPE html>
<html>
<head>
    <title>供货商档案列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Styles/demo.css" />
    <script src="~/scripts/boot.js" type="text/javascript"></script>
    <script src="/Data/FbPaSupTypes.js" type="text/javascript"></script>
    <script type="text/javascript"> var pageTitle = "供货商档案"; var pageType = "List"; var createTime = "2014/2/15 20:04:58"; var isEmployeeLogin = false; </script>
</head>
<body>
    <div style="width: 100%">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                        <a class="mini-button" iconcls="icon-search" onclick="showFilterRow()" plain="true">高级检索</a>
                        <a class="mini-button" iconcls="icon-ok" onclick="javascript:void(0)" plain="true">审核</a>
                        <a class="mini-button" iconcls="icon-no" onclick="dropSelected()" plain="true">废弃</a>
                        <a class="mini-button" iconcls="icon-coins" onclick="javascript:void(0)" plain="true">报表</a>
                        <a class="mini-button" iconcls="icon-remove" onclick="remove()" plain="true">删除</a>
                    </td>
                    <td style="white-space: nowrap;" align="right">
                        <table>
                            <tr>
                                <td>
                                    <input id="ifexame" class="mini-combobox" data="[{id:0,text:'否'},{id:1,text:'是'}]" nullitemtext="--是否审核--" emptytext="--是否审核--" style="width: 80px !important;" onvaluechanged="search()" />
                                </td>
                                <td>
                                    <input id="keyword" class="mini-textbox" emptytext="请输入关键词" style="width: 150px !important;" onenter="search" />
                                </td>
                                <td>
                                    <a class="mini-button" onclick="search()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" url="SearchFbSupplierArchivesList"
            style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
            pagesize="20" multiselect="true"  showFilterRow="true" frozenStartColumn="1" frozenEndColumn="5">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
                <div name="action" width="60" headeralign="center" align="center" renderer="onActionRenderer" cellstyle="padding:0;">
                    管理
                </div>
				<div field="Id" headeralign="center" align="center" width="140">
				    供货商编码
					<input id="filter_SupCode" name="Id" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="SupName" headeralign="center" align="center" width="150">
				    供货商名称
					<input id="filter_SupName" name="SupName" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<!--<div field="SupTypeCode" headeralign="center" align="center" width="80" renderer="onSupTypeRenderer">-->
				<div field="SupTypeCode" headeralign="center" align="center" width="80">
				    供货商类型
					<input id="filter_SupTypeCode" name="SupTypeCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Functionary" headeralign="center" align="center" width="80">
				    负责人
					<input id="filter_Functionary" name="Functionary" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="FunctionaryPhone" headeralign="center" align="center" width="100">
				    负责人电话
					<input id="filter_FunctionaryPhone" name="FunctionaryPhone" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Linkman" headeralign="center" align="center" width="80">
				    联系人
					<input id="filter_Linkman" name="Linkman" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="ContactPhone" headeralign="center" align="center" width="80">
				    联系人电话
					<input id="filter_ContactPhone" name="ContactPhone" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="ContactAddress" headeralign="center" align="center" width="100">
				    联系地址
					<input id="filter_ContactAddress" name="ContactAddress" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="OfficePhone" headeralign="center" align="center" width="80">
				    办公电话
					<input id="filter_OfficePhone" name="OfficePhone" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="FaxPhone" headeralign="center" align="center" width="80">
				    传真
					<input id="filter_FaxPhone" name="FaxPhone" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="eMail" headeralign="center" align="center" width="80">
				    邮箱
					<input id="filter_eMail" name="eMail" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Postalcode" headeralign="center" align="center" width="80">
				    邮政编码
					<input id="filter_Postalcode" name="Postalcode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="OpenAccount" headeralign="center" align="center" width="80">
				    开户行
					<input id="filter_OpenAccount" name="OpenAccount" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="BankAccount" headeralign="center" align="center" width="120">
				    帐号
					<input id="filter_BankAccount" name="BankAccount" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="TaxNumber" headeralign="center" align="center" width="60">
				    税号
					<input id="filter_TaxNumber" name="TaxNumber" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="OpCode" headeralign="center" align="center" width="80" renderer="onOpCodeRender">
                    经营方式
					<input id="filter_OpCode" name="OpCode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="StockVoucher" headeralign="center" align="center" width="80">
                    进货凭证
					<input id="filter_StockVoucher" name="StockVoucher" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="InputTax" headeralign="center" align="center" width="80">
				    进项税率
					<input id="filter_InputTax" name="InputTax" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="BalanceMode" headeralign="center" align="center" width="80">
                    结算方式
					<input id="filter_BalanceMode" name="BalanceMode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PayMode" headeralign="center" align="center" width="80">
                    付款方式
					<input id="filter_PayMode" name="PayMode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="BalancePeriod" headeralign="center" align="center" width="80">
                    结算账期
					<input id="filter_BalancePeriod" name="BalancePeriod" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="BalanceDay" headeralign="center" align="center" width="60">
                    结算日
					<input id="filter_BalanceDay" name="BalanceDay" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="OfferMode" headeralign="center" align="center" width="80">
                    供货方式
					<input id="filter_OfferMode" name="OfferMode" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="DeliveryDays" headeralign="center" align="center" width="80">
				    送货天数
					<input id="filter_DeliveryDays" name="DeliveryDays" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PoolRate" headeralign="center" align="center" width="60">
				    扣率
					<input id="filter_PoolRate" name="PoolRate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="FloorsMoney" headeralign="center" align="center" width="80">
				    保底金额
					<input id="filter_FloorsMoney" name="FloorsMoney" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="ExcessRate" headeralign="center" align="center" width="80">
				    超额扣率
					<input id="filter_ExcessRate" name="ExcessRate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="CreateDate" headeralign="center" align="center" width="100" dateFormat="yyyy-MM-dd">
				    创建时间
					<input id="filter_CreateDate" name="CreateDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Operator" headeralign="center" align="center" width="70">
				    操作员
					<input id="filter_Operator" name="Operator" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="Assessor" headeralign="center" align="center" width="70">
				    审核人
					<input id="filter_Assessor" name="Assessor" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="IfExamine" headeralign="center" align="center" width="80" renderer="onExamRender">
                    是否审核
					<input id="filter_IfExamine" name="IfExamine" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="ExamineDate" headeralign="center" align="center" width="100" dateFormat="yyyy-MM-dd">
				    审核时间
					<input id="filter_ExamineDate" name="ExamineDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="OperatorDate" headeralign="center" align="center" width="100" dateFormat="yyyy-MM-dd">
				    操作时间
					<input id="filter_OperatorDate" name="OperatorDate" property="filter" class="mini-textbox" onvaluechanged="search" style="width:100%;" />
				</div>
                <!--<div field="IfExamine" headeralign="center" align="center" width="30" renderer="onExamRender">审核</div>-->
                

            </div>
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/Fb/FbSupplierArchivesList.js"></script>
</body>
</html>



