<!DOCTYPE html>
<html>
<head>
    <title>连锁超市进销存管理系统</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/reset.css" />
    <link type="text/css" rel="Stylesheet" href="/Styles/main.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.6.2.min.js"></script>
    <link  type="text/css" rel="stylesheet" href="~/Scripts/miniui/themes/icons_index.css" />
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Account/GetModelesTree", function (j) {
                for (var i = 0; i < j.length; i++) {
                    var tree_node = '<h1>' + j[i].text + '</h1><ul>';
                    var node = '<li class="' + j[i].iconCls + ' menu-icon-post menu-item"><div class="menu-image"></div><div class="menu-arrow"><div></div></div><a href="#">' + j[i].text + '</a><div class="submenu" style="top:' + (i == 0 ? '0' : '-5') + 'px;overflow-y: auto;overflow-x: hidden;width:580px"><div class="submenu-head">' + j[i].text + '</div><ul>';
                    for (var k = 0; k < j[i].menus.length; k++) {
                        //var subItem = '<li><a name="' + j[i].menus[k].id + '" href="' + j[i].menus[k].url + '" onclick="javascript:openInTab(\'' + j[i].menus[k].id + '\',\'' + j[i].menus[k].text + '\',\'' + j[i].menus[k].url + '\');return false;">' + j[i].menus[k].text + '</a> </li>';
                        var subItem = "<li class=" + j[i].menus[k].iconCls + "><div><h1 style='padding-left:6px;font-size: 14px;text-shadow: 2px 2px 1px #999;'><div class='menu-image'></div>" + j[i].menus[k].text + "</h1><ul>";
                        for (var l = 0; l < j[i].menus[k].menus.length; l++) {
                            subItem += '<li style="float:left"><a name="' + j[i].menus[k].menus[l].id + '" href="' + j[i].menus[k].menus[l].url + '" onclick="javascript:openInTab(\'' + j[i].menus[k].menus[l].id + '\',\'' + j[i].menus[k].menus[l].text + '\',\'' + j[i].menus[k].menus[l].url + '\');return false;">' + j[i].menus[k].menus[l].text + '</a> </li>';
                        }
                        subItem += "<li style='clear:both;height:0px;min-height:0px;'></li></ul></div></li>";
                        node += subItem;
                        tree_node += subItem;
                    }
                    tree_node += '<li class="clear"></li></ul><div class="clear"></div>';
                    node += '</ul></div></li>';
                    $(tree_node).appendTo(".site-map:first");
                    $(node).mouseover(function () {
                        $("li.menu-icon-post").removeClass("open");
                        $(this).addClass("open");
                    }).mouseout(function () {
                        $("li.menu-icon-post").removeClass("open");
                    }).insertBefore("#collapse-menu");
                }
            });
            $("li.menu-icon-post").mouseover(function () {
                $("li.menu-icon-post").removeClass("open");
                $(this).addClass("open");
            }).mouseout(function () {
                $("li.menu-icon-post").removeClass("open");
            });
            $("#collapse-menu").click(function () {
                if ($(document.body).hasClass("folded")) {
                    $(document.body).removeClass("folded")
                } else {
                    $(document.body).addClass("folded")
                }
                resizeFrame();
            });
            resizeFrame();
            $(window).resize(resizeFrame);
            $("#content").find("[id^='tab']").hide(); // Hide all content
            $("#tabs li:first").attr("id", "current"); // Activate the first tab
            $("#content div.tabContent:first").fadeIn(); // Show first tab's content

            $('#tabs a').click(function (e) {
                e.preventDefault();
                if ($(this).closest("li").attr("id") == "current") { //detection for current tab
                    return;
                }
                else {
                    var contentId = $("#current a:first").attr("name");
                    $("#"+contentId).hide(); // Hide all content
                    //$("#current .tabContent").fadeOut();
                    $("#tabs li").attr("id", ""); //Reset id's
                    $(this).parent().attr("id", "current"); // Activate this
                    $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
                }
            });
            $("#tabs li a em").click(function () {
                closeTab($(this).parents("a").first().attr("name"));
            });
            $(".menu ul li .submenu li a").click(function () {
                openInTab($(this).attr("name"), $(this).text(), $(this).attr("href"));
                return false;
            });
        });

        function tabHeaderClick(obj) {
            if ($(obj).closest("li").attr("id") == "current") { //detection for current tab
                return;
            }
            else {
                var contentId = $("#current a:first").attr("name");
                $("#" + contentId).hide(); // Hide all content
                $("#tabs li").attr("id", ""); //Reset id's
                $(obj).attr("id", "current"); // Activate this
                $('#' + $(obj).find("a:first").attr('name')).fadeIn(); // Show content for the current tab
            }
        }

        function resizeFrame() {
            $("#content div iframe").each(function () {
                $(this).height($(window).height() - 53);
            });
        }
        function closeTab(name) {
            var iscurrnt = false;
            if ($("#tabs a[name='" + name + "']").parents("li").first().attr("id") == "current") {
                iscurrnt = true;
            }
            $("#tabs a[name='" + name + "']").parents("li").remove();
            $("#" + name).remove();
            if (iscurrnt) {
                $("#tabs li:last").attr("id", "current");
                $("#content div:last").fadeIn();
                //$("#content div:last iframe")[0].contentWindow.search();
                $("#content div:last iframe")[0]["contentWindow"].search();
            }
        }
        function openInTab(name, text, url) {
            if ($("#" + name).size() > 0) {
                return false;
            }
            $("#tabs").append("<li onclick='tabHeaderClick(this)'><a href='javascript:void(0)' name='" + name + "'>" + text + "<em onclick='javascript:closeTab(\"" + name + "\")'></em></a></li>");
            $("#content").append("<div class='tabContent' id='" + name + "'><iframe frameborder=0 style='height:" + ($(window).height() - 53) + "px' src='" + url + "'></iframe></div>");
            $("#content").find("[id^='tab']").hide(); // Hide all content
            $("#tabs li").attr("id", ""); //Reset id's
            $("#tabs li:last").attr("id", "current");
            $("#content div").hide();
            $("#content div:last").fadeIn();
        }
        function showTab(option) {
            openInTab(option.id, option.text, option.url);
        }
    </script>
</head>
<body>

    <div class="wrap">
        <div class="menu">
            <div id="adminmenushadow"></div>
            <ul>
                <li style="height: 30px;"></li>

                <li id="collapse-menu" class="menu-item">
                    <div id="collapse-button">
                        <div></div>
                    </div>
                    <span>收起菜单</span>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <ul class="left-bar">
                    <li class="bar-item logo first">
                        <ul class="sub-items">
                            <li><a href="#">关于本系统</a></li>
                            <li><a href="#">文档</a></li>
                            <li><a href="#">反馈</a></li>
                        </ul>
                    </li>
                    <li class="bar-item last">
                        <a href="javascript:void(0)">快捷菜单
                        </a>
                        <ul class="sub-items">
                            <li><a href="#">商品档案</a></li>
                            <li><a href="#">经销商档案</a></li>
                            <li><a href="#">员工档案</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right-bar">
                    <li class="bar-item first">
                        <a href="javascript:void(0)">功能地图</a>
                        <div class="sub-items site-map">
                        </div>
                    </li>
                    <li class="bar-item last">
                        <a href="javascript:void(0)">欢迎您，张经理</a>
                        <ul class="sub-items">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">退出系统</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="space"></div>
                <ul id="tabs">
                    <li><a href="#" name="tab1">业务一览</a></li>
                </ul>

                <div id="content">
                    <div class="tabContent" id="tab1">
                        <p style="padding: 20px;">连锁超市进销存系统</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
