.icon-add .menu-image{
	background:url(icons/add.gif) no-repeat;
}
.icon-addnew .menu-image{
	background:url(icons/addnew.gif) no-repeat;
}
.icon-edit .menu-image{
	background:url(icons/edit.gif) no-repeat;
}
.icon-remove .menu-image{
	background:url(icons/remove.gif) no-repeat;
}
.icon-save .menu-image{
	background:url(icons/save.gif) no-repeat;
}
.icon-close .menu-image{
	background:url(icons/cancel.gif) no-repeat;
}
.icon-cut .menu-image{
	background:url(icons/cut.png) no-repeat;
}
.icon-ok .menu-image{
	background:url(icons/ok.png) no-repeat;
}
.icon-no .menu-image{
	background:url(icons/no.png) no-repeat;
}
.icon-cancel .menu-image{
	background:url(icons/cancel.gif) no-repeat;
}
.icon-reload .menu-image{
	background:url(icons/reload.png) no-repeat;
}
.icon-search .menu-image{
	background:url(icons/search.gif) no-repeat;
}
.icon-print .menu-image{
	background:url(icons/print.gif) no-repeat;
}
.icon-help .menu-image{
	background:url(icons/help.gif) no-repeat;
	
}
.icon-undo .menu-image{
	background:url(icons/undo.gif) no-repeat;
}
.icon-redo .menu-image{
	background:url(icons/redo.gif) no-repeat;
}
.icon-tip .menu-image{
	background:url(icons/tip.png) no-repeat;
}
.icon-zoomin .menu-image{
	background:url(icons/zoomin.gif) no-repeat;
}
.icon-zoomout .menu-image{
	background:url(icons/zoomout.gif) no-repeat;
}
.icon-goto .menu-image{
	background:url(icons/goto.gif) no-repeat;
}
.icon-date .menu-image{
	background:url(icons/date.gif) no-repeat;
}
.icon-filter .menu-image{
	background:url(icons/filter.gif) no-repeat;
}
.icon-find .menu-image{
	background:url(icons/find.png) no-repeat;
}
.icon-folder .menu-image{
	background:url(icons/folder.gif) no-repeat;
}
.icon-folderopen .menu-image{
	background:url(icons/folder-open.gif) no-repeat;
}
.icon-lock .menu-image{
	background:url(icons/lock.png) no-repeat;
}
.icon-unlock .menu-image{
	background:url(icons/unlock.gif) no-repeat;
}
.icon-new .menu-image{
	background:url(icons/new.gif) no-repeat;
}

.icon-nowait .menu-image{
	background:url(icons/nowait.gif) no-repeat;
}
.icon-sort .menu-image{
	background:url(icons/sort.gif) no-repeat;
}
.icon-wait .menu-image{
	background:url(icons/wait.gif) no-repeat;
}
.icon-upgrade .menu-image{
	background:url(icons/upgrade.gif) no-repeat;
}
.icon-downgrade .menu-image{
	background:url(icons/downgrade.gif) no-repeat;
}
.icon-download .menu-image{
	background:url(icons/download.gif) no-repeat;
}
.icon-upload .menu-image{
	background:url(icons/upload.gif) no-repeat;
}
.icon-user .menu-image{
	background:url(icons/user.png) no-repeat;
}
.icon-split .menu-image{
	background:url(icons/split.gif) no-repeat;
}
.icon-addfolder .menu-image{
	background:url(icons/addfolder.gif) no-repeat;
}

.icon-expand .menu-image{
	background:url(icons/expand.gif) no-repeat;
}
.icon-collapse .menu-image{
	background:url(icons/collapse.gif) no-repeat;
}
.icon-vcard .menu-image{
	background:url(icons/vcard.png) no-repeat;
}
.icon-vcard-edit .menu-image{
	background:url(icons/vcard_edit.png) no-repeat;
}
.icon-user-suit .menu-image{
	background:url(icons/user_suit.png) no-repeat;
}
.icon-chart-organisation .menu-image{
	background:url(icons/chart_organisation.png) no-repeat;
}
.icon-cart .menu-image{
	background:url(icons/cart.png) no-repeat;
}
.icon-cart-delete .menu-image{
	background:url(icons/cart_delete.png) no-repeat;
}
.icon-cart-add .menu-image{
	background:url(icons/cart_add.png) no-repeat;
}

.icon-zoom .menu-image{
	background:url(icons/zoom.png) no-repeat;
}
.icon-car .menu-image{
	background:url(icons/car.png) no-repeat;
}
.icon-bricks
 .menu-image{
    background:url(icons/bricks.png) no-repeat;
}
.icon-brick
 .menu-image{
    background:url(icons/brick.png) no-repeat;
}
.icon-map
 .menu-image{
    background:url(icons/map.png) no-repeat;
}
.icon-group-link
 .menu-image{
    background:url(icons/group_link.png) no-repeat;
}
.icon-drive-user
 .menu-image{
    background:url(icons/drive_user.png) no-repeat;
}
.icon-coins
 .menu-image{
    background:url(icons/coins.png) no-repeat;
}
.icon-excel
 .menu-image{
    background:url(icons/page_excel.png) no-repeat;
}

.icon-group-key
 .menu-image{
    background:url(icons/group_key.png) no-repeat;
}
.icon-printer
 .menu-image{
    background:url(icons/printer.png) no-repeat;
}
.icon-bell
 .menu-image{
    background:url(icons/bell.png) no-repeat;
}
.icon-chart-organisation
 .menu-image{
    background:url(icons/chart_organisation.png) no-repeat;
}
.icon-date-magnify .menu-image{
	background:url(icons/date_magnify.png) no-repeat;
}
.icon-node .menu-image{
	background:url(icons/node.png) no-repeat;
}
.icon-cog-edit
 .menu-image{
    background:url(icons/cog_edit.png) no-repeat;
}