@{
    ViewBag.Title = "商品补货管理";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}
@section toolbar{
}
@section script
{
    <script type="text/javascript">
        mini.parse();
        function showSearchWindow() {
            var win = mini.get("searchWindow");
            win.show();
        }
        var tree = mini.get("tree1");
        tree.on("nodeselect", function (e) {
            if (e.isLeaf) {
                advSearch();
            } else {
                grid.setData([]);
                grid.setTotalCount(0);
            }
        });
        function treesearch() {
            var value = mini.get("treekey").getValue();
            tree.load("/Archives/SearchAllranches/" + value);
        }
        function advSearch() {
            var frm = new mini.Form("frmAdv");
            var data = frm.getData(true);
            data.bCode = tree.getSelectedNode().Id;
            grid.load(data);

            var win = mini.get("searchWindow");
            win.hide();
        }
        function search() {
            grid.load({
                "key": mini.get("#key").value
            });
        }

        function editRow(id) {
            var eUrl = "/Business/SupplementEdit/" + id + "?bCode=";
            if (tree.getSelectedNode()) {
                eUrl += tree.getSelectedNode().Id;
            }
            mini.open({
                url: eUrl,
                title: "补货管理",
                iconCls: "icon-cart",
                allowResize: false,
                width: 660,
                height:300,
                onload: function () {
                },
                ondestroy: function (action) {

                    grid.reload();
                }
            });
        }
        function deleteItem(id) {
            $.ajax({
                url: "/Business/SupplementDelete",
                data: { ids: id },
                success: function (text) {
                    grid.reload();
                },
                error: function () {
                }
            });
        }
    </script>
}
<div class="mini-splitter" style="width: 100%; height: 100%;">
    <div size="240" showcollapsebutton="true">
        <div class="mini-toolbar" style="padding: 2px; border-top: 0; border-left: 0; border-right: 0;">
            <input class="mini-textbox" id="treekey" style="width: 150px;" />
            <a class="mini-button" iconcls="icon-search" plain="true" onclick="treesearch">查找</a>
        </div>
        <div class="mini-fit">
            <ul id="tree1" class="mini-tree" url="/Archives/SearchAllranchesForTree" style="width: 100%;"
                showtreeicon="true" textfield="bName" idfield="Id" parentfield="pid" resultastree="false">
            </ul>
        </div>
    </div>
    <div showcollapsebutton="true" id="printArea">
        <div style="width: 100%">
            <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%;">
                            <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                            <a class="mini-button" iconcls="icon-remove" onclick="remove()" plain="true">删除</a> <span class="separator"></span>
                        </td>
                        <td style="white-space: nowrap;">
                            <input id="key" class="mini-textbox" emptytext="请输入关键词" style="width: 150px;" onenter="onKeyEnter" />
                            <a class="mini-button" onclick="search()">查询</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="datagrid1" class="mini-datagrid" url="/Business/SearchSupplementList" style="width: 100%;
            height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]" pagesize="20"
            multiselect="true">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
                <div field="SupCode" headeralign="center" align="center" width="60">
                    供货商</div>
@*                <div field="PcForm" headeralign="center" align="center" width="60">
                    采购形式</div>*@
                <div field="bName" headeralign="center" align="center" width="60">
                    门店名称</div>
@*                <div field="PcType" headeralign="center" align="center" width="60">
                    采购类型</div>*@
                <div field="CreateDate" headeralign="center" align="center" width="60" dateformat="yyyy-MM-dd">
                    创建时间</div>
@*                <div field="ExpectArriveDate" headeralign="center" align="center" width="60" dateformat="yyyy-MM-dd">
                    预计到货日期</div>
                <div field="IfExamine" headeralign="center" align="center" width="40" renderer="onExamRender">
                    审核</div>*@
                <div field="MoneyAmount" headeralign="center" align="center" width="40" >
                    金额</div>
                <div name="action" width="120" headeralign="center" align="center" renderer="onActionRenderer"
                    cellstyle="padding:0;">
                    管理</div>
            </div>
        </div>
    </div>
</div>
